@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .react-datepicker {
    @apply !border-n-3 !rounded-lg !font-inter shadow-[0_0_1rem_0.25rem_rgba(0,0,0,0.04),0_2rem_2rem_-1rem_rgba(0,0,0,0.1)] overflow-hidden dark:bg-n-7 dark:!border-n-5;
  }
  .react-datepicker .react-datepicker__header {
    @apply bg-transparent border-none;
  }
  .react-datepicker .react-datepicker__current-month {
    @apply base2 font-semibold text-n-4/75;
  }
  .react-datepicker .react-datepicker__navigation {
    @apply top-1.5;
  }
  .react-datepicker .react-datepicker__navigation-icon::before {
    @apply transition-colors dark:border-n-4;
  }
  .react-datepicker
    .react-datepicker__navigation:hover
    .react-datepicker__navigation-icon::before {
    @apply dark:border-n-3;
  }
  .react-datepicker .react-datepicker__triangle {
    @apply hidden;
  }
  .react-datepicker .react-datepicker__day-name {
    @apply pt-2 caption2 font-semibold text-n-5;
  }
  .react-datepicker .react-datepicker__day {
    @apply py-[0.22rem] rounded caption1 transition-colors dark:text-n-1 dark:hover:text-n-7;
  }
  .react-datepicker .react-datepicker__day.past {
    @apply text-n-4/50 pointer-events-none;
  }
  .react-datepicker .react-datepicker__day--today {
    @apply bg-n-3 text-n-1;
  }
  .react-datepicker .react-datepicker__day--today.past {
    @apply text-n-7 pointer-events-auto;
  }
  .react-datepicker .react-datepicker__day--selected {
    @apply bg-primary-1 !text-n-1;
  }
  .react-datepicker .react-datepicker__day--keyboard-selected {
    @apply bg-transparent;
  }
  .react-datepicker .react-datepicker__day--outside-month {
    @apply opacity-0 invisible;
  }
  .react-datepicker .react-datepicker__time-container,
  .react-datepicker
    .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box {
    @apply w-[15rem] text-left dark:bg-n-7 dark:border-n-5 !rounded-lg;
  }
  .react-datepicker .react-datepicker__time-container .react-datepicker__time {
    @apply bg-transparent;
  }
  .react-datepicker .react-datepicker__header--time {
    @apply hidden;
  }
  .react-datepicker .react-datepicker__time-list-item {
    @apply transition-colors;
  }
  .react-datepicker
    .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item {
    @apply pl-5 leading-normal dark:text-n-4 dark:hover:text-n-7;
  }
  .react-datepicker
    .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    @apply bg-primary-1 text-n-1 dark:text-n-1;
  }

  .multiselect .multiselect__control {
    @apply min-h-[3.25rem] p-0 border-2 border-n-3 rounded-xl base1 shadow-none outline-none transition-colors cursor-pointer hover:border-n-4/50 dark:bg-transparent dark:border-n-5;
  }
  .multiselect .multiselect__control.multiselect__control--menu-is-open {
    @apply border-primary-1;
  }
  .multiselect .multiselect__value-container {
    @apply pl-13 py-0 pr-0;
  }
  .multiselect-access .multiselect__value-container {
    @apply pr-32;
  }
  .multiselect .multiselect__input {
    @apply dark:!text-n-1;
  }
  .multiselect .multiselect__input:focus {
    @apply md:base1;
  }
  .multiselect .multiselect__placeholder {
    @apply text-n-4/50;
  }
  .multiselect .multiselect__value-container--has-value {
    @apply pl-0;
  }
  .multiselect .multiselect__multi-value {
    @apply m-1 p-2 rounded-lg bg-n-3/50 fill-n-4/50 transition-colors hover:!bg-primary-1 hover:text-n-1 hover:fill-n-1 dark:bg-n-6;
  }
  .multiselect .multiselect__multi-value__label {
    @apply p-0 text-inherit transition-none;
  }
  .multiselect .multiselect__multi-value__remove {
    @apply p-0 hover:!bg-transparent hover:scale-110;
  }
  .multiselect .multiselect__indicators {
    @apply hidden;
  }
  .multiselect .multiselect__menu {
    @apply z-10 mt-2 p-2 shadow-[inset_0_0_0_0.0625rem_#E8ECEF,0_0_1rem_0.25rem_rgba(0,0,0,0.04),0_2rem_2rem_-1rem_rgba(0,0,0,0.1)] rounded-xl dark:bg-n-7 dark:shadow-[inset_0_0_0_0.0625rem_#343839,0_0_1rem_0.25rem_rgba(0,0,0,0.04),0_2rem_2rem_-1rem_rgba(0,0,0,0.1)];
  }
  .multiselect .multiselect__menu-list {
    @apply max-h-[12rem] p-0 overflow-auto scroll-smooth;
  }
  .multiselect .multiselect__option {
    @apply flex items-center px-2 py-2.5 rounded-xl transition-colors cursor-pointer;
  }
  .multiselect .multiselect__option--is-focused {
    @apply bg-n-3/50 dark:bg-n-6;
  }
}

/* ------------------ BRAINWAVE END ------------------ */
:root {
  font-size: 16px;
  --primary-1: #0084ff;
  --primary-1-white: #f5faff;
  --primary-1-lightest: #e5f3ff;
  --primary-1-lighter: #66b5ff;
  --primary-1-light: #339dff;
  --primary-1-dark: #006acc;
  --primary-1-darker: #004db2;
  --primary-2: #3fdd78;
  --primary-2-white: #f6fdf9;
  --primary-2-lightest: #e9fbf0;
  --primary-2-lighter: #97edb6;
  --primary-2-light: #6ce597;
  --primary-2-dark: #23c75e;
  --primary-2-darker: #1fb249;

  --accent-1: #d84c10;
  --accent-1-white: #fef8f6;
  --accent-1-lightest: #fdeee7;
  --accent-1-lighter: #f38759;
  --accent-1-light: #ef6529;
  --accent-1-dark: #a63a0c;
  --accent-1-darker: #8e270b;
  --accent-2: #3e90f0;
  --accent-3: #8e55ea;
  --accent-3-white: #f9f6fe;
  --accent-3-lightest: #f0e8fc;
  --accent-3-lighter: #ccb2f5;
  --accent-3-light: #ae84f0;
  --accent-3-dark: #712ae5;
  --accent-3-darker: #541bda;
  --accent-4: #8c6584;
  --accent-5: #dda73f;

  --n-1: #fefefe;
  --n-2: #f3f5f7;
  --n-3: #e8ecef;
  --n-4: #b4b8bb;
  --n-5: #838789;
  --n-6: #2b2e30;
  --n-7: #141718;

  --g-1: #f3f5f7;

  --primary-1-rgb: 0, 132, 255;
  --primary-1-lighter-rgb: 36, 149, 255;
  --primary-2-rgb: 63, 221, 120;

  --accent-1-rgb: 216, 76, 16;
  --accent-2-rgb: 62, 144, 240;
  --accent-3-rgb: 142, 85, 234;
  --accent-4-rgb: 140, 101, 132;
  --accent-5-rgb: 221, 167, 63;

  --n-1-rgb: 254, 254, 254;
  --n-2-rgb: 243, 245, 247;
  --n-3-rgb: 232, 236, 239;
  --n-4-rgb: 161, 164, 166;
  --n-5-rgb: 108, 114, 117;
  --n-6-rgb: 35, 38, 39;
  --n-7-rgb: 20, 23, 24;
}

html,
body {
  background-color: var(--n-1);
}
